* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    width: 100vw;
}
header {
 width: 80%;
 height: 70px;
 margin: 0 auto; 
 color: #b8bcc1;
 padding-top: 30px;
}


ul {
    display: inline-block;
    list-style: none;
}

ul li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

header img {
    height: 60px;
    width: 90px;
}

.black_text {
    color: black;
}
i {
    font-size: 8px;
    padding-left: 4px;
}
.my_btn {
    background-color: #eb008d;
    border-radius: 30px;
    color: white;
    text-align: center;
}

.with_dropdown {
  position: relative;  
}
.drop_down_menu {
    width: 150px;
    position: absolute;
    box-shadow: 5px 10px 18px #e0dede;
    padding: 10px;
    margin-top: 6px;
    display: none;
    left: -40px;
}
.menu_item {
    text-align: left;
    padding: 10px;
}

.drop_down_menu.my_active {
    display: block;
}

.new_logo {
    font-weight: bold;
    color: #eb008d;
    font-size: 12px;
    vertical-align: 1em;
}

.menu_item_special {
    text-align: left;
    padding: 10px;
    padding-bottom: 30px;
}